@import url('https://fonts.googleapis.com/css?family=Joan');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Joan', cursive;
}


.title h2, .title2 h2, .title3 h2, .title4 h2, .title5 h2, .title6 h2, .title7 h2
{
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    font-weight: normal;
}

header
{
    position: relative;
    width: 100%;
    height: 3vh;
    background: #FFE2A880;
}

header h4
{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-weight: normal;   
}

nav
{
    position: relative;
    width: 100%;
    height: 6vh;
    background: white;
}

nav a
{
    position: absolute;
    width: 250px;
    height: 100%;
    color: black;
    text-decoration: none;
}

.lightstyle
{
    position: absolute;
    transform: translate(-50%,0%);
    top: 8px;
    left: 27.5%;
    width: 120px;
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
    border-right: 1px solid black;
}

.kitchen-manufacture
{
    position: absolute;
    transform: translate(-50%,0%);
    left: 75%;
    top: 13px;
    line-height: 0.9;
    width: 90px;
    font-size: 17px;
}

.menu
{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.menu a
{  
    position: relative; 
    padding: 10px;
    margin: 0 5px;
    color: #333;
    text-decoration: none;
}


.links
{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 90%;
    top: 50%;
}

.links a
{
    position: relative;
    width: 30px;
    height: 50px;
    margin: 0 20px;
}

.links a img
{
    width: 20px;
}

section
{
    position: relative;
    width: 100%;
    height: 605vh;
}

.background
{
    position: relative;
    width: 100%;
    height: 40vh;
}

.background img, .background2 img, .background3 img, .background4 img, .bg-footer img
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.title
{
    position: relative;
    top: 15px;
}

.title2
{
    position: relative;
    top: 120px;
}

.images
{
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 170px;
    width: 760px;
}

.images img
{
    width: 250px;
}

.title3
{
    position: relative;
    top: 240px;
    z-index: 1;
}

.background2
{
    position: relative;
    width: 100%;
    height: 80vh;
    top: 300px;
}

.title4
{
    position: relative;
    top: 350px;
}

.kitchen-equipment
{
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 400px;
    width: 950px;
}

.kitchen-equipment img
{
    width: 300px;
    height: 35vh;
    margin: 0 5px;
}

.title5
{
    position: relative;
    top: 450px;
}

.title6
{
    position: relative;
    top: 550px;
}

.images2
{
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 600px;
    width: 950px;
}

.images2 img
{
    width: 300px;
    height: 35vh;
    margin: 0 5px;
}

.harmonic-atmosphere
{
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 660px;
    width: 100%;
    height: 60vh;
    background: #F7EACC;
}

.harmonic-atmosphere .harmonic-text
{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 61%;
    top: 50%;
    width: 350px;
    height: 200px;
    text-align: center;
}

.harmonic-atmosphere .harmonic-text h2
{
    font-weight: normal;
}

.harmonic-atmosphere .harmonic-text small
{
    position: absolute;
    transform: translate(-50%, -100%);
    top: 100%;
}

.title7
{
    position: relative;
    top: 720px;
}

.background3
{
    position: relative;
    width: 100%;
    height: 70vh;
    top: 820px;
}

.background4
{
    position: relative;
    width: 100%;
    height: 45vh;
    top: 820px;
}

footer
{
    position: relative;
    width: 100%;
    height: 60vh;
}

.bg-footer
{
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    width: 100%;
    height: 25%;
}

.footer-data
{
    position: relative;
    top: 25%;
    width: 100%;
    height: 75%;
    background: #333;
    color: white;
}

.data1
{
    position: absolute;
    transform: translate(-50%, 0%);
    left: 5%;
    top: 15%;
}

.data2
{
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 15%;
}

.data3
{
    position: absolute;
    transform: translate(-50%, 0%);
    left: 90%;
    top: 15%;
    width: 250px;
}

.data1 ul li, .data2 ul li, .data3 ul li
{
    list-style-type: none;
    margin: 20px 0;
}


.data1 a, .data2 a, .data3 a
{
    text-decoration: none;
    color: #aaa;
    font-size: 14px;
}







#i1, #i2, #i3, #i4, #i5{ display: none;}

.image_slider
{
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
    top: 490px;
	width: 100%;
	height: 0;
	padding-bottom: 38%;
    background: #333;
}

.image_slider .slide_img
{
	position: absolute;
	width: 100%;;
	height: 100%;
    z-index: -1;
}

.image_slider .slide_img img
{
	width: 100%;
	height: 100%;
}

.prev, .next
{
	width: 5%;
	height: 100%;
	position: absolute;
	top: 0; 
	color:rgba(244, 244, 244,.9);
	z-index: 99;
	transition: .45s;
	cursor: pointer;
	text-align: center;
}

.next
{
    right: 0;
}

.prev
{
    left: 0;
}

.arrow 
{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 15px;
}

.prev .left 
{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: absolute;
    top: 50%;
    left: 40%;
}

.next .right 
{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    right: 40%;
}

.prev:hover, .next:hover
{
	transition: .3s;
	background-color: rgba(100, 100, 100, 0.5);
}

#i1:checked ~ #one  ,
#i2:checked ~ #two  ,
#i3:checked ~ #three,
#i4:checked ~ #four ,
#i5:checked ~ #five 
{
    z-index: 9; 
    animation: scroll 1s ease-in-out;
}





input[type=radio]
{ 
    position: relative;
    left: 160%;
    top: 80%;
    background: #888;
    padding: 0.4em;
    width: 15px;
    -webkit-appearance: none;
}

input[type=radio]:checked 
{
    background: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat center center;
    background-size: 9px 9px;
    background: black;
}
  
input[type=radio]:focus 
{
    outline-color: transparent;
}

.image_slider2
{
	margin: 0 auto;
	position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: -5%;
	width: 25%;
	height: 80%;
    background: #333;

}

.image_slider2 .slide_img2
{
	position: absolute;
	width: 100%;;
	height: 100%;
    z-index: -1;
    bottom: 0px;
}

.image_slider2 .slide_img2 img
{
	width: 100%;
	height: 100%;
}


.prev2, .next2
{
	width: 60px;
	height: 100%;
	position: absolute;
	top: 0; 
	color:rgba(244, 244, 244,.9);
	z-index: 99;
	transition: .45s;
	cursor: pointer;
	text-align: center;
}

.next2
{
    right: 0;
}

.prev2
{
    left: 0;
}

.prev2 .left 
{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: absolute;
    top: 50%;
    left: 40%;
}

.next2 .right 
{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    right: 40%;
}

.prev2:hover, .next2:hover
{
	transition: .3s;
	background-color: rgba(100, 100, 100, 0.5); 
}



#ii1:checked ~ #one  ,
#ii2:checked ~ #two  ,
#ii3:checked ~ #three
{
    z-index: 9; 
    animation: scroll 1s ease-in-out;
}




#iii1, #iii2, #iii3, #iii4, #iii5{ display: none;}

.image_slider3
{
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
    top: 750px;
	width: 40%;
	height: 0;
	padding-bottom: 15%;
    background: #333;
}

.image_slider3 .slide_img3
{
	position: absolute;
	width: 100%;;
	height: 100%;
    z-index: -1;
}

.image_slider3 .slide_img3 img
{
	width: 100%;
	height: 100%;
}

.prev3, .next3
{
	width: 6%;
	height: 45px;
	position: absolute;
    transform: translate(0%, -50%);
	top: 50%; 
	color:rgba(244, 244, 244,.9);
	z-index: 99;
	transition: .45s;
	cursor: pointer;
	text-align: center;
    border-radius: 50%;
    background: white;
}

.next3
{
    right: 10px;
}

.prev3
{
    left: 10px;
}

.arrow3
{
    border: solid rgba(100, 100, 100);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
}

.prev3 .left
{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: absolute;
    top: 15px;
    left: 40%;
}

.next3 .right
{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    top: 15px;
    right: 40%;
}

.prev3:hover, .next3:hover
{
	transition: .3s;
	background-color: rgba(255, 255, 255, 0.5); 
}

#iii1:checked ~ #one  ,
#iii2:checked ~ #two  ,
#iii3:checked ~ #three,
#iii4:checked ~ #four ,
#iii5:checked ~ #five 
{
    z-index: 9; 
    animation: scroll 1s ease-in-out;
}




@keyframes scroll
{
	0%{	opacity:.4;}
	100%{opacity:1;}
}		